# Python & Virtual Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# SQLite Database
db.sqlite3
db.sqlite3-journal

# System files
.DS_Store
Thumbs.db

# Machine Learning
*.joblib
*.model
*.h5

# IMPORTANT: We ignore .pkl files globally, BUT whitelist our specific model folder
*.pkl
!backend/Models/*.pkl
!Models/*.pkl
